<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>农村电子商务</display-name>
  <welcome-file-list>
    <welcome-file>Query1Servlet</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>org.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Query1Servlet</display-name>
    <servlet-name>Query1Servlet</servlet-name>
    <servlet-class>org.servlet.Query1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query1Servlet</servlet-name>
    <url-pattern>/Query1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Query2Servlet</display-name>
    <servlet-name>Query2Servlet</servlet-name>
    <servlet-class>org.servlet.Query2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query2Servlet</servlet-name>
    <url-pattern>/Query2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryProductServlet</display-name>
    <servlet-name>QueryProductServlet</servlet-name>
    <servlet-class>org.servlet.QueryProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryProductServlet</servlet-name>
    <url-pattern>/QueryProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllProductServlet</display-name>
    <servlet-name>QueryAllProductServlet</servlet-name>
    <servlet-class>org.servlet.QueryAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllProductServlet</servlet-name>
    <url-pattern>/QueryAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatepriceServlet</display-name>
    <servlet-name>UpdatepriceServlet</servlet-name>
    <servlet-class>org.servlet.product.UpdatepriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatepriceServlet</servlet-name>
    <url-pattern>/UpdatepriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDiscountPriceServlet</display-name>
    <servlet-name>UpdateDiscountPriceServlet</servlet-name>
    <servlet-class>org.servlet.product.UpdateDiscountPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDiscountPriceServlet</servlet-name>
    <url-pattern>/UpdateDiscountPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RepertoryServlet</display-name>
    <servlet-name>RepertoryServlet</servlet-name>
    <servlet-class>org.servlet.product.RepertoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepertoryServlet</servlet-name>
    <url-pattern>/RepertoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveProductServlet</display-name>
    <servlet-name>SaveProductServlet</servlet-name>
    <servlet-class>org.servlet.product.SaveProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProductServlet</servlet-name>
    <url-pattern>/SaveProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveClassifyServlet</display-name>
    <servlet-name>SaveClassifyServlet</servlet-name>
    <servlet-class>org.servlet.classify.SaveClassifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveClassifyServlet</servlet-name>
    <url-pattern>/SaveClassifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDiscountServlet</display-name>
    <servlet-name>SaveDiscountServlet</servlet-name>
    <servlet-class>org.servlet.dicount.SaveDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDiscountServlet</servlet-name>
    <url-pattern>/SaveDiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDiscountServlet</display-name>
    <servlet-name>DeleteDiscountServlet</servlet-name>
    <servlet-class>org.servlet.dicount.DeleteDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDiscountServlet</servlet-name>
    <url-pattern>/DeleteDiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryallDiscountProductsServlet</display-name>
    <servlet-name>QueryallDiscountProductsServlet</servlet-name>
    <servlet-class>org.servlet.dicount.QueryallDiscountProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryallDiscountProductsServlet</servlet-name>
    <url-pattern>/QueryallDiscountProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDiscountProductServlet</display-name>
    <servlet-name>QueryDiscountProductServlet</servlet-name>
    <servlet-class>org.servlet.dicount.QueryDiscountProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDiscountProductServlet</servlet-name>
    <url-pattern>/QueryDiscountProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDiscountServlet</display-name>
    <servlet-name>QueryDiscountServlet</servlet-name>
    <servlet-class>org.servlet.QueryDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDiscountServlet</servlet-name>
    <url-pattern>/QueryDiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllCollectServlet</display-name>
    <servlet-name>QueryAllCollectServlet</servlet-name>
    <servlet-class>org.servlet.collect.QueryAllCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllCollectServlet</servlet-name>
    <url-pattern>/QueryAllCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCollectServlet</display-name>
    <servlet-name>SaveCollectServlet</servlet-name>
    <servlet-class>org.servlet.collect.SaveCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCollectServlet</servlet-name>
    <url-pattern>/SaveCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollectServlet</display-name>
    <servlet-name>DeleteCollectServlet</servlet-name>
    <servlet-class>org.servlet.collect.DeleteCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollectServlet</servlet-name>
    <url-pattern>/DeleteCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildServlet</display-name>
    <servlet-name>BuildServlet</servlet-name>
    <servlet-class>org.servlet.order.BuildServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildServlet</servlet-name>
    <url-pattern>/BuildServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOrderServlet</display-name>
    <servlet-name>QueryOrderServlet</servlet-name>
    <servlet-class>org.servlet.order.QueryOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOrderServlet</servlet-name>
    <url-pattern>/QueryOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryByUseidServlet</display-name>
    <servlet-name>QueryByUseidServlet</servlet-name>
    <servlet-class>org.servlet.order.QueryByUseidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryByUseidServlet</servlet-name>
    <url-pattern>/QueryByUseidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServelt</display-name>
    <servlet-name>DeleteOrderServelt</servlet-name>
    <servlet-class>org.servlet.order.DeleteOrderServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServelt</servlet-name>
    <url-pattern>/DeleteOrderServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderServlet</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>org.servlet.product.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllMsgServlet</display-name>
    <servlet-name>ShowAllMsgServlet</servlet-name>
    <servlet-class>org.servlet.ShowAllMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllMsgServlet</servlet-name>
    <url-pattern>/ShowAllMsgServlet</url-pattern>
  </servlet-mapping>
</web-app>